.amisMenu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    max-width: 400px;
}

.en-tete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    & label:has(input:checked) {
        color: #7F77DD;
        border-bottom: #7F77DD solid 1px;
    }
    & input {
        display: none;
    }
    & label {
        padding: 10px;
        width: 33%;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    & label:hover {
        color: white;
    }
}

.content-amis {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    & .amis-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #111318;
        padding: 10px 0;
    }
    & .nom {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.amis-icone {
    width: 20px;
    height: 20px;
    border: 2px solid #7F77DD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26215C;
    color: #AFA9EC;
    font-size: 15px;
    padding: 5px;
}

.amis-btn, .amis-btnAccept, .amis-btnRefuse {
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #7F77DD;
    color: white;
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:active {
        transform: scale(.9);
    }
    &:hover {
        background-color: #26215C;
    }
}

.amis-btndiv {
    display: flex;
    gap: 5px;
    & .amis-btnAccept {
        background: #0f6e56;
    }
    & .amis-btnRefuse {
        background-color: #a32d2d;
    }
}

/* HTML: <div class="loader"></div> */
.loader-space {
  width: fit-content;
  font-size: 17px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: 
    linear-gradient(#7F77DD 0 0) left ,
    linear-gradient(#7F77DD 0 0) right;
  background-repeat: no-repeat; 
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader-space::before {
  content:"Loading";
  color: #7F77DD;
}
.loader-space::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: 
   linear-gradient(90deg,#7F77DD 4px,#0000 0 calc(100% - 4px),#7F77DD 0) bottom            /22px 20px,
   linear-gradient(90deg,red  4px,#0000 0 calc(100% - 4px),red  0) bottom 10px left 0/22px 6px,
   linear-gradient(#7F77DD 0 0) bottom 3px left 0  /22px 8px,
   linear-gradient(#7F77DD 0 0) bottom 0   left 50%/8px  16px;
 background-repeat: no-repeat;
 animation: l9-1 2s infinite;
}
@keyframes l9-0{
  0%,25%    {background-size: 50% 100%}
  25.1%,75% {background-size: 0 0,50% 100%}
  75.1%,100%{background-size: 0 0,0 0}
}
@keyframes l9-1{
  25%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  25.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  50%   { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
}