.banner {
  background-color: #16191f;
  padding: 20px;
  margin-bottom: 21px;
  color: white;
  border-bottom: 1px solid #2a2d35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#violet {
	color: #7F77DD;
}

@media screen and (max-width: 700px) {
  #bannerNom {
    font-size: 18px;
  }

  #bannerAccount {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .banner {
    padding: 10px;
  }

  .CC {
    width: 35px;
    top: 7px;
    left: 50%;
    transform: translate(-50%);
  }
}