.filtre select,
.trieSelect {
    border-radius: 5px;
    height: 35px;
    text-align: center;
    padding: 0px 10px;
    color: #888;
    background-color: #1c1f27;
    border: 1px solid #2a2d35;
    box-shadow: #2a2d35 1px 1px 5px;
    width: 110px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease;
}

.sous-filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.filtre select,
.filtre select::picker(select),
.trieSelect,
.trieSelect::picker(select) {
	appearance: base-select;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}


.filtre select::picker(select),
.trieSelect::picker(select) {
	appearance: base-select;
	background-color: #1c1f27;
    border: 1px solid #7F77DD;
    box-shadow: #7F77DD 1px 1px 5px;
    border-radius: 0 0 10px 10px;
    color: #888;
    padding: 5px 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .2s allow-discrete;
}

option {
    transition: all .2s ease;
    &:hover {
        background-color: #7F77DD;
        color: white;
    }
    &:checked {
        font-weight: bold;
    }
}

.filtre select:open,
.trieSelect:open {
    border: 1px solid #7F77DD;
    box-shadow: #7F77DD 1px 1px 5px;
    border-radius: 5px 5px 0 0;
}

.filtre select::picker-icon,
.trieSelect::picker-icon {
    transition: rotate .4s ease-in-out;
}

.filtre select:open::picker-icon,
.trieSelect:open::picker-icon {
    rotate: 180deg;
}

.filtre select::picker(select):popover-open,
.trieSelect::picker(select):popover-open {
    transform: scaleY(1);
}

@starting-style {
    .filtre select::picker(select):popover-open,
    .trieSelect::picker(select):popover-open {
        transform: scaleY(0);
    }
}