.popupAjoutBack {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.popupAjout {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px 0px;
    text-align: center;
    color: white;
    background-color: #1c1f27;
    border-radius: 20px;
    border: 1px solid #2a2d35;
    z-index: 3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #2a2d35;
}

.foot {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    padding: 10px 20px;
    border-top: 1px solid #2a2d35;
}

.ajout-body input {
    color: white;
}

.head h2 {
    margin: 0;
    font-size: 20px;
}

.ajout-body {
    padding: 10px 20px;
}

.ajout-body label {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 15px;
    color: #888;
    font-size: 14px;
    gap: 5px;
}

.ajout-body input {
    background-color: #30302e;
    border: 1px solid #888;
    border-radius: 10px;
    width: 95%;
}

.radio-status {
    display: flex;
    gap: 10px;
}

.formChapter {
    display: flex;
    gap: 10px;
}

.radio-status input {
    display: none;
}

.formChapter label {
    width: 50%;
}
.formChapter input {
    width: 90%;
}

.radio-status label {
    width: 80px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    background-color: #16191f;
    border: 1px solid #2a2d35;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.bleu:has(input:checked) {
    background: #185FA5;
    border: #185FA5 1px solid;
    color: #B5D4F4;
}

.vert:has(input:checked) {
    background: #0F6E56;
    border: #0F6E56 1px solid;
    color: #9FE1CB;
}

.jaune:has(input:checked) {
    background: #854F0B;
    border: #854F0B 1px solid;
    color: #FAC775;
}

.noir:has(input:checked) {
    background: #2a2d35 ;
    border: #2a2d35  1px solid;
    color: #aaa ;
}

.rouge:has(input:checked) {
    background-color: #791F1F;
    border: 1px solid #791F1F;
    color: #F09595 ;
}

input:focus, textarea:focus {
    border: 1px solid #7F77DD;
    outline: none;
    box-shadow: #7F77DD 0 0 10px;
}

.ajout-body textarea {
    background: #16191f;
    border: 1px solid #2a2d35;
    border-radius: 10px;
    width: 97%;
    color: white;
    padding: 5px 10px;
}

.foot button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid #3C3489;
    background: #26215C;
    color: #AFA9EC;
    border-radius: 10px;
    cursor: pointer;
}

.nsfwSpan {
    background: #A32D2D;
    border-radius: 50px;
    padding: 0px 5px;
    color: #F7C1C1;
    margin-left: 10px;
}

.switchNSFW {
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #30302e;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.switchNSFW div {
    background: #555;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

/* .switchNSFW::before {
    content: '';
    background-color: #0F6E56;
    width: 80px;
    height: 28px;
    display: flex;
    border-radius: 50px;
    z-index: 0;
    position: absolute;
    left: -50px;
    transition: all 0.4s ease-in-out;
} */

.divNsfw:has(input:checked) .switchNSFW div {
    transform: translateX(42px);
    background-color: #F7C1C1;
}

.divNsfw:has(input:checked) .switchNSFW {
    background-color: #A32D2D;
}

.divNsfw {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16191f;
    border-radius: 10px;
    border: 1px solid #30302e;
    padding: 10px;
}

/* .divNsfw:has(input:checked) .switchNSFW::before {
    transform: translate(52px);
} */

#inputNsfw {
    display: none;
}

.closeAjout {
    background: #16191f;
    border: 1px solid #555;
    border-radius: 10px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: relative;
}

.closeAjout::before,
.closeAjout::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background: #888;
  border-radius: 2px;
}

.closeAjout::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closeAjout::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.closeAjout:hover::before,
.closeAjout:hover::after {
  background: #e8e8f0;
}

@media screen and (max-width: 700px) {
    .popupAjout {
        width: 95%;
    }
}