.manhwa-item-cover {
	width: 100%;
	object-fit: cover;
}

.manhwa-item {
	margin: 10px;
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	color: white;
	height: 300px;
}

.container-hover {
	position: relative;
	width: 150px;
	height: 280px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	border: #2a2d35 1px solid;
}

.container-hover img {
	height: 250px;
}

.name-hover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.5rem;
	display: none;
	background: rgba(0, 0, 0, 0.7);
}

.container-hover:hover {
	box-shadow: #2a2d35 5px 1px 5px, #2a2d35 -5px -1px 5px;
	transition: all 0.2s ease-in-out;
}

.container-hover:hover span {
	display: flex;
}

.container-hover:hover img {
	transform: scale(1.15);
	transition: all 0.2s ease-in-out;
}

.status, .nsfw, .note-hover {
	position: absolute;
	width: 50px;
	height: 20px;
	top: 2px;
	right: 2px;
	font-size: 11px;
	text-align: center;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nsfw {
	top: 25px;
	background-color: #A32D2D ;
}

.info-hover {
	position: absolute;
	bottom: 0;
	font-size: 11px;
	background: #1c1f27;
	width: 100%;
	height: 25px;
	text-align: center;
	padding: 3px 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.info-hover div {
	display: flex;
	justify-content: space-between;
	width: 85%;
}

.note-hover {
	left: 2px;
	background-color: rgba(0,0,0,0.65);
	width: 40px;
	color: #ef9f27;
}

.progression-bar {
	width: 80%;
	height: 3px;
	border-radius: 50px;
}

p {
	margin: 0;
}