.popupBackground {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    width: 800px;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #1c1f27;
    border-radius: 15px;
    z-index: 3;
    display: flex;
    overflow: hidden;
    text-align: left;
    gap: 20px;
    border: 1px solid #262624;
}

.closePopup {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    background: #16191f;
    border: 1px solid #555;
    border-radius: 10px;
    width: 28px;
    height: 28px;
}

.closePopup::before,
.closePopup::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background: #888;
  border-radius: 2px;
}

.closePopup::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closePopup::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.closePopup:hover::before,
.closePopup:hover::after {
  background: #e8e8f0;
}

.img-popup {
	height: 350px;
    width: 30%;
	border-radius: 10px;
	overflow: hidden;
	border: #2a2d35 1px solid;
}

.img-popup img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.status-note {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

.status-popup {
    width: 55px;
    height: 20px;
    font-size: 11px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note {
    color: #ef9f27;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

h2 {
    text-transform: capitalize;
}

.popupInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 8px;
    margin-bottom: 15px;
}

.popupInfo div {
    width: 45%;
    height: 35px;
    background-color: #16191f;
    padding: 8px;
    border-radius: 5px;
}

.popupInfo p {
    color: #666;
    font-size: 12px;
    margin: 0;
}

#popup-bar {
    width: 98%;
    height: 4px;
}

.tag span {
    background-color: #16191f;
    border: 1px solid #2a2d35;
    border-radius: 50px;
    color: #e8e8f0 ;
    padding: 5px 10px;
    font-size: 13px;
}

.tag {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.divBtn {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.bouton-chap, .btn-modif {
    border-radius: 10px;
    border: solid 1px #7F77DD;
    background-color: #16191f;
    text-align: center;
    align-self: center;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
}

.bouton-chap:hover, .btn-modif:hover {
    background-color: #262624;
    cursor: pointer;
}

.bouton-chap:active, .btn-modif:active {
    transform: translateY(2px);
}

.snd-container {
    width: 65%;
}

.snd-container input {
    color: white;
    background-color: #16191f;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.description {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 15px;
}

.snd-container input:focus, .snd-container textarea:focus {
    border: 1px solid #7F77DD;
    outline: none;
    box-shadow: #7F77DD 1px 5px 10px;
}

.snd-container textarea {
    background: #16191f;
    border: 1px solid #2a2d35;
    border-radius: 10px;
    width: 97%;
    color: white;
    padding: 5px 10px;
}

.snd-container h2{
    margin: 0;
    margin-bottom: 15px;
}

.input-note {
    display: flex;
    width: 60px;
}

#changeTitle {
    padding: 10px;
    width: 50%;
}



@media screen and (max-width: 700px) {
    .popup {
        width: 90%;
        padding: 5px 5px 40px 5px;
        border-radius: 10px;
        min-height: 400px;
    }
    .closePopup, .btn-modif {
        right: 5px;
    }
    .description {
        width: 95%;
        font-size: 12px;
    }
    .popupInfo div {
        width: 40%;
    }
    .img-popup {
        height: 200px;
    }
    #popupModif {
        width: 100%;
    }
    .snd-container textarea {
        width: 85%;
    }
    .divBtn a, .btn-modif {
        font-size: 12px;
    }
}