.popupBackground {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBackground:has(#btn-suppr:hover) {
    animation: infinite .5s pulse-suppr alternate;
}

@keyframes pulse-suppr{
    0% {
        box-shadow: 0 0 0px inset #c52626;
    }
    100% {
        box-shadow: 0 0 50px inset #c52626;
    }
}

.popup {
    position: absolute;
    align-items: center;
    max-width: 800px;
    width: 90%;
    padding: 15px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: #1c1f27;
    border-radius: 15px;
    z-index: 3;
    display: flex;
    text-align: left;
    gap: 20px;
}
#popupLec {
    transform: translate(-50%, -50%);
}

@keyframes ouverture {
    from {transform: scale(0)}
    to {
        transform: scale(1);
    }
}

@keyframes fermeture {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

.closePopup {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    background: #16191f;
    border: 1px solid #555;
    border-radius: 10px;
    width: 28px;
    height: 28px;
}

.closePopup::before,
.closePopup::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  background: #888;
  border-radius: 2px;
}

.closePopup::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.closePopup::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.closePopup:hover::before,
.closePopup:hover::after {
  background: #e8e8f0;
}

.img-popup {
	height: 350px;
    width: 30%;
	border-radius: 10px;
	overflow: hidden;
	border: #2a2d35 1px solid;
}

.img-popup img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.status-note {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 5px;
}

.status-popup, .nsfw-popup {
    width: 65px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nsfw-popup {
	background-color: #A32D2D;
}

.note {
    color: #ef9f27;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

h2 {
    text-transform: capitalize;
}

.popupInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}

#popupModif {
    & .divInvo {
        width: 45%;
    }
    & .popupInfo {
        justify-content: start;
    }
}

.popupInfo .divInvo {
    width: 40%;
    height: 35px;
    background-color: #16191f;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #7F77DD;
        transition: all .3s ease-in-out
    }
    & input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
    }
}

.divInvo select {
    border: 1px solid transparent;
    width: 100%;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
        background-color: #16191f;
    }
}
.divInvo select::picker(select) {
    position-try-fallbacks: none;
}

#popupModif .divInvo:hover {
    box-shadow: 0 0 10px #7F77DD;
    cursor: pointer;
    & span {
        opacity: 1;
    }
}

.number-style {
    display: flex;
    & div {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
    & span {
        font-size: 10px;
        text-align: center;
        background-color: #7F77DD;
        width: 20px;
        opacity: 0;
        transition: transform .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    & #spanplus {
        border-radius: 5px 5px 0 0;
    }
    & #spanmoins {
        border-radius: 0 0 5px 5px;
    }
}

.select-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.tag-setlist {
    display: none;
    height: 150px;
    background: #16191f;
    overflow-y: auto;
    margin-top: 15px;
    border-radius: 10px;
	box-shadow: black 0 8px 24px;

}

.tag-setlist .tag-item {
    list-style: none;
    display: flex;
    padding: 2px 0;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    & input {
        display: none;
    }
    & label {
        cursor: pointer;
        width: 80%;
    }
    &:hover {
        background-color: #2a2d35;
    }
    & .checkbox {
        width: 15px;
        height: 15px;
        background: #555;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        & span {
            transform: scale(0);
            transition: all .2s ease-in-out;
        }
    }
    & input:checked ~ .checkbox {
        background: #7F77DD;
    }
    & input:checked ~ .checkbox span {
        transform: scale(1);
    }
}

.arrow-dwn {
    transition: all .3s ease-in-out;
    color: #7F77DD;
}

.select-tag.openTag {
    & .tag-setlist{
        display: block;
        padding: 0;
    }
    & .arrow-dwn {
        transform: rotate(-180deg);
    }
}

.popupInfo p {
    color: #666;
    font-size: 12px;
    margin: 0;
}

#popup-bar {
    width: 98%;
    height: 4px;
}

.tag span {
    background-color: #16191f;
    border: 1px solid #2a2d35;
    border-radius: 50px;
    color: #e8e8f0 ;
    padding: 5px 10px;
    font-size: 13px;
}

.tag {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.divBtn {
    display: flex;
    gap: 10px;
}

.bouton-chap, .btn-modif {
    border-radius: 10px;
    border: solid 1px #7F77DD;
    background-color: #16191f;
    text-align: center;
    align-self: center;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    transition: all 0.3s;
}

#btn-suppr {
    background-color: #A32D2D;
    border: transparent;
    &:hover {
        animation: .3s horizontal-shaking infinite;
    }
    
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0) }
}


.bouton-chap:hover, .btn-modif:hover {
    background-color: #262624;
    cursor: pointer;
}

.bouton-chap:active, .btn-modif:active {
    transform: scale(0.9);
}

.snd-container {
    width: 65%;
}

.snd-container input {
    color: white;
    background-color: #16191f;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.description {
    color: #ccc;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: justify;
}

.snd-container input:focus, .snd-container textarea:focus {
    outline: none;
}

.snd-container label:focus-within::after {
    width: 100%;
    box-shadow: #7F77DD 0px 0px 5px;
}

.snd-container textarea {
    background: #16191f;
    border: none;
    border-radius: 5px;
    width: 94%;
    color: white;
    padding: 5px 10px;
}

.snd-container h2{
    margin: 0;
    margin-bottom: 15px;
}

.input-note {
    display: flex;
    width: 60px;
}

#changeTitle {
    padding: 10px;
    width: 50%;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    & p {
        font-size: 12px;
        background: #16191f;
        border-radius: 10px;
        padding: 5px 10px;
    }
}

/* HTML: <div class="loader"></div> */
.loader-cube {
  --s: 25px;
  --g :5px;  
  
  width: calc(3*(1.353*var(--s) + var(--g)));
  display: grid;
  justify-items: end;
  aspect-ratio: 3;
  overflow: hidden;
  --_m: linear-gradient(90deg,#0000,#000 15px calc(100% - 15px),#0000);
  -webkit-mask: var(--_m);
          mask: var(--_m);
}
.loader-cube:before { 
  content: "";
  width: 200%;
  background:
    linear-gradient(90deg,#ff1818 50%,#0000 0),
    conic-gradient(from -90deg at var(--s) calc(0.353*var(--s)),
      #fff 135deg,#666 0 270deg,#aaa 0); 
  background-blend-mode: multiply;
  --_m:
    linear-gradient(to bottom right,
       #0000 calc(0.25*var(--s)),#000 0 calc(100% - calc(0.25*var(--s)) - 1.414*var(--g)),#0000 0),
    conic-gradient(from -90deg at right var(--g) bottom var(--g),#000 90deg,#0000 0);
  -webkit-mask: var(--_m);
          mask: var(--_m);
  background-size:   calc(100%/3) 100%, calc(100%/6) 100%;
  -webkit-mask-size: calc(100%/6) 100%;
          mask-size: calc(100%/6) 100%;
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  animation: l10 1s infinite linear;
}
@keyframes l10 {
  to {transform:translate(calc(100%/3))}
}


@media screen and (max-width: 700px) {
    .popup {
        width: 90%;
        padding: 5px;
        border-radius: 10px;
        min-height: 400px;
    }
    .closePopup, .btn-modif {
        right: 5px;
    }
    .description {
        width: 95%;
        font-size: 12px;
    }
    .img-popup {
        display: none;
    }
    .select-tag.openTag .tag-setlist {
        width: 200px;
        transform: translateX(-50%);
    }

    .snd-container {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    #popupModif .divInvo {
        width: 40%;
    }
}