body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111318;
  font-family: 'Inter', sans-serif;

}


.CC {
  position: absolute;
  width: 60px;
  top: 4px;
  left: 50%;
  transform: translate(-50%);
}

::-webkit-scrollbar {
  background: #111318;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7f77dd;
  border-radius: 10px;
}